:root {
    --primary-color: #ff8c00;
    --secondary-color: #000000;
    font-family: 'Casanova Scotia', cursive;
  }
  @font-face {
    font-family: 'Casanova Scotia';
    src: url('./src/font/Casanova Scotia.otf') format('opentype');
  }
  html, body {
    background-color: var(--secondary-color);
    margin: 5px;
    --font-family: 'Jura', sans-serif;
  }
.year-heading{
    font-size: 2em;
    font-family: casanova scotia;
    color: #FF8C00;
    text-align: center;
    margin: 0;
    padding: 0;
}
.title {
  /* set background img to a  png /src/text-bg.png */
  background-image: url(../src/text-bg.png);  
  background-attachment: fixed;
  font-family: 'Casanova Scotia', cursive;
  -webkit-text-fill-color: transparent;
}
.team
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    /* add #ff8c00 text color and some effects also make it responsive */
    color: #FF8C00;
}
  .container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
  }
  
  .gallery-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 2em;
  }
  
  .gallery-card a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .2);
  }
  