@font-face {
  font-family: 'Casanova Scotia';
  src: url('./src/font/Casanova Scotia.otf') format('opentype');
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
}
#vantajs {
  position: relative;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  height: fit-content;
}
.container {
  max-width: max-content;
  margin: 10px auto;
  padding: 20px;
  align-items: center;
}

/* Add a parallax effect to the background image */
#home {
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#DC5F00;
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#videoDiv {
  width: 100%;
  height: auto; /* Subtract the height of the navigation bar */
  position: relative;
  overflow: hidden;
}

#video1 {
  width: 100%;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#videoMessage {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* Apply fade-in effect to elements as they come into view */
.fade-in {
  opacity: 0;
  transition: opacity 10s ease;
}

.fade-in.is-visible {
  opacity: 1;
}
:root {
  --stripe-size: 100px;
  --color1: #FF6600;
  /* #DC5F00 */
  --color2: #000000;
  /* Black */
  --duration: 2s; }

  
/* Navigation Bar */
nav {
  width: 100%;
  background: #E8E8E8;
  /* Add shadow and animation */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  /* Center the elements */
  display: flex;
  justify-content: space-around;
  position: sticky;
  text-decoration: none;
  top: 0;
  font: casanova scotia;
  z-index: 9999;
}

@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;
  }
  
  @keyframes animateGlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}

.glow {
  position: relative;
  text-align: center;
  color: #5d5e5f;
  background-color: #151823;
  animation: textColor 10s ease infinite;
  @include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s);
  
  text-decoration: none; /* Remove underlining */
}

.glow a {
  color: #5d5e5f; /* Set default link color */
  text-decoration: none; /* Remove underlining */
}

.glow a:hover {
  color: #DC5F00; /* Set link color on hover */
}

.glow a.active {
  color: #DC5F00; /* Set active link color */
}

@keyframes textColor {
  0% { color: #7e0fff; }
  50% { color: #0fffc1; }
  100% { color: #7e0fff; }
}

/* Container to hold the Instagram posts */
.instagram-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 3%;
  margin-right: 3%;
}

/* Style for each Instagram post */

/* Style the embedded Instagram post */
.instagram-post .instagram-media {
  max-width: 100%;
}

/* Adjust the style of the embedded post as needed */
.instagram-post .instagram-media a {
  background: #FFA500; /* #DC5F00 background */
}

.instagram-post .instagram-media a:hover {
  opacity: 0.8; /* Add an opacity effect on hover */
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0 100px;
  justify-content: right;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  color: rgb(255, 132, 0);
  background-color: #E8E8E8;
  padding: 0 10px;
  text-decoration: none;
  font-size: x-large;
  /* text-transform: ; */
  justify-content: right;
  font-weight:bolder;
  line-height: 70px; /**  Rarely used! **/
}

nav ul li a:hover,
nav ul li a.active {
  background: rgb(255, 132, 0);
  color: #000000;
  text-decoration: none;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  max-width: 100%;
  font-size: 100px;
  text-align: center;
  font-family: "Casanova Scotia", cursive;
  color: #000000;
  align-items: center;
}
.btn-neomorphic {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  background-color: #f3f3f3;
  box-shadow: 6px 6px 12px rgba(163, 177, 198, 0.6), -6px -6px 12px rgba(255, 255, 255, 0.5);
  color: #333;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-neomorphic:hover {
  transform: translate(4px, 4px);
  box-shadow: 4px 4px 8px rgba(163, 177, 198, 0.6), -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.title {
  color: #000000; /* Add a color for the text */
  font-size: 100px; /* Increase font-size */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: url(./src/text-bg.png);
  background-attachment: relative;
  background-position: center bottom; /* Set the background image position */
  font-family: "Casanova Scotia", cursive;
  -webkit-text-fill-color: transparent;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  padding: 0 20px;
  /* orange  glow around the text */
 /* text-shadow: orange 3px 0 10px; */
}


Home Section
#home {
  font-family: "Casanova Scotia", cursive;
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 166, 0);
  opacity: 0.7;
}

#home h1 {
  max-width: 75%;
  font-size: 100px;
  text-align: center;
  font-family: "Casanova Scotia", cursive;
  color: #540032;
}

h2 {
  font-family: "Casanova Scotia", cursive;
}

#home p {
  font-size: 24px;
  color: #ff6f00;
}

/* About Section */
#about {
  background-image: url("./src/gallery/about-us-bg.jpg");
  /* make the background image 60% opaque */
  
  opacity: 80%;
  background-color: #ffc89e;
  padding: 50px 0;
  text-align: center;
}

#about h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

#about p {
  color: #ffffff;
  font-size: 18px;
}

/* Projects Section */
#projects {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

#projects h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#projects p {
  font-size: 18px;
}

.team-cards{
  display: flex;
  flex-direction: column;
}
.team-row
{
  display: flex;
  justify-content: space-around;
  margin-left: 3%;
  margin-right: 3%;
}
.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#000000;
	padding:5px;
	bottom:0px;
	transition: all 0.5s ease;
}


/* Gallery Section */
#gallery {
  background-color: rgb(232, 232, 232);
  padding:  0;
  text-align: center;
}

#gallery h2 {
  color: #DC5F00;
  font-size: 36px;
  margin-bottom: 20px;
}
#particles-js {
    background: black;
    height: 100vh;
}

#gallery p {
  color: #DC5F00;
  font-size: 18px;
}
.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(232, 232, 232);
}
.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #929292;
}
::-webkit-scrollbar-thumb {
  background: #fd5400;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.team-card {
  width: calc(100% / 10);
  max-width: 150px;
  margin: 6px;
  background-color: #ebebeb;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
  transition: transform 0.3s ease-in-out;
  margin-top: 10px;
  margin-bottom: 10px;
}

.team-card:hover {
  transform: translateY(-5px);
}

.card-content {
  padding: 3px;
  text-align: center;
}

.team-card img {
  width: 150px; /* Adjust the desired fixed width */
  height: 150px; /* Adjust the desired fixed height */
  object-fit: cover;
  border-radius: 90%;
}

.team-card h3 {
  margin-top: 5px;
}

/* Media queries for responsiveness */

@media screen and (max-width: 1468px) {
  .team-card {
    width: calc(100% / 5);
    max-width: 170px;
  }

  .team-card img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 480px) {
  .team-card {
    width: calc(100% / 2);
    max-width: 150px;
  }

  .team-card img {
    width: 100px;
    height: 100px;
  }
}
.gallery-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 10px;
}

.gallery-button:hover {
  background-color: #555;
}

.gallerypreview {
/* background-color: red; */
display: flex;
justify-content: space-evenly;
gap: 20px;
margin-bottom: 20px;
}

.row {
display: flex;
flex-direction: row;
gap: 20px;
}

.photo {
position: relative;
width: 30%;
border-radius: 7%;
/* add neomorphic shadow and effects */
box-shadow: 6px 6px 12px rgba(74, 75, 78, 0.6), -6px -6px 12px rgba(255, 255, 255, 0.5);
}

.photo img{
width: 100%;
height: 100%;
border-radius: 10px;
object-fit: cover;
opacity: 1;
display: block;
transition: 0.5 ease;
backface-visibility: hidden;
}
.year {
transition: 0.5 ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.photo:hover img{
opacity: 0.5;
}

.photo:hover .year{
opacity: 1;
}

.text {
background-color: black;
color: #DC5F00;
font-size: 16px;
padding: 16px,32px;
}

/* Resources Section */
#resources {
  background-color: #581e1e;
  padding: 50px 0;
  text-align: center;
}

#resources h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

.resource-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px;
  color: rgb(0, 0, 0);
  /* add a text shadow */
  text-shadow: 1px 1px 2px #00000097;
}
.vantajs
{
  height: fit-content;
  width: fit-content;
}
.shadow
{
  text-shadow: 2px 2px 4px #00000094;
}
.resource-card {
  margin: 10px;
  text-align: center;
}

.instagram-container {
 display: inline-block;
  margin: 0;
  padding: 10px;
  
}


.resource-card
{
  margin: 10px;
}

/* Contact Section */
#contact {
  /* background-color: #fff; */
  padding: 50px 0;
  text-align: center;
  background-size: 100%;
  color: #f3f3f3;
  /* Add shadow and animation */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  font-weight: 500;
  background-color: #0000006d;
}

#contact h2 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  margin-bottom: 20px;
}
/*for Demo Only*/
.demo-row {
  background-color: #333;
  padding: 50px 0;
}


/*Implement*/
.sponsor-feature {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

#id-sponsors .carousel {
    margin-bottom: 20px;
}
#id-sponsors .item {
    padding-bottom: 20px;
}
#id-sponsors .carousel-indicators {
    bottom: -25px;
}
#contact p {
  color: rgb(255, 255, 255);
  font-size: 18px;
}

/* Footer */
footer {
  background-color: #ff797900;
  /* padding: 10px 20px; */
  text-align: right;
  height:25px;
}

footer p {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

/* other */
.info {
  margin: 20px 0;
  text-align: center;
}

.type-wrap {
  font-size: 50px;
  padding: 20px;
}

/* the above is for styling puposes only */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
p {
  color: #2e2e2e;
  margin-bottom: 20px;
}

/* block-$ */
.block-effect {
  font-size: calc(8px + 6vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
  /* Add shadow and animation */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

/* animations */
@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section
{
  scroll-behavior: smooth;
  scrollbar-color: #DC5F00;
  scrollbar-width: thin; 
}

/* Scroll to Load*/
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all ease 1s;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
