@font-face {
  font-family: 'Casanova Scotia';
  src: url('./src/font/Casanova Scotia.otf') format('opentype');
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
  background-color: #0e0e0e;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}

/* Add a parallax effect to the background image */
#home {
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 166, 0);
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#videoDiv {width: 100%; height: 100%; position: relative;}
#video1 { margin: auto; display: block;}
#videoMessage { position: absolute; top: 0; left: 0;
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center; 
width: 100%;
height: 100%;}
/* Apply fade-in effect to elements as they come into view */
.fade-in {
  opacity: 0;
  transition: opacity 10s ease;
}

.fade-in.is-visible {
  opacity: 1;
}
:root {
  --stripe-size: 100px;
  --color1: #FF6600;
  /* Orange */
  --color2: #000000;
  /* Black */
  --duration: 2s; }

  
/* Navigation Bar */
nav {
  width: 100%;
  height: 50px;
  background: rgb(0, 0, 0);
  /* Add shadow and animation */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  /* Center the elements */
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  font: casanova scotia;
  z-index: 9999;
}
@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;
  }
  
  @keyframes animateGlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}

.glow {
  position: relative;
  text-align: center;
  color: #5d5e5f;
  background-color: #151823;
  animation: textColor 10s ease infinite;
  @include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s);
    
  @keyframes textColor {
    0% { color: #7e0fff; }
    50% { color: #0fffc1; }
    100% { color: #7e0fff; }
  }
}
/* Container to hold the Instagram posts */
.instagram-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 3%;
  margin-right: 3%;
}

/* Style for each Instagram post */

/* Style the embedded Instagram post */
.instagram-post .instagram-media {
  max-width: 100%;
}

/* Adjust the style of the embedded post as needed */
.instagram-post .instagram-media a {
  background: #FFA500; /* Orange background */
}

.instagram-post .instagram-media a:hover {
  opacity: 0.8; /* Add an opacity effect on hover */
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0 100px;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  color: rgb(255, 132, 0);
  background-color: #000000;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px; /**  Rarely used! **/
}

nav ul li a:hover,
nav ul li a.active {
  background: rgb(255, 132, 0);
  color: #000000;
}

body {
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  max-width: 100%;
  font-size: 100px;
  text-align: center;
  font-family: "Casanova Scotia", cursive;
  color: #000000;
  align-items: center;
}
.btn-neomorphic {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  background-color: #f3f3f3;
  box-shadow: 6px 6px 12px rgba(163, 177, 198, 0.6), -6px -6px 12px rgba(255, 255, 255, 0.5);
  color: #333;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-neomorphic:hover {
  transform: translate(4px, 4px);
  box-shadow: 4px 4px 8px rgba(163, 177, 198, 0.6), -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.title {
  color: orange; /* Add a color for the text */
  font-size: 100px; /* Increase font-size */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: url(./src/text-bg.png);
  background-attachment: relative;
  background-position: center bottom; /* Set the background image position */
  font-family: "Casanova Scotia", cursive;
  -webkit-text-fill-color: transparent;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  padding: 0 20px;
}


Home Section
#home {
  font-family: "Casanova Scotia", cursive;

  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 166, 0);
  opacity: 0.7;
}

#home h1 {
  max-width: 75%;
  font-size: 100px;
  text-align: center;
  font-family: "Casanova Scotia", cursive;
  color: #540032;
}

h2 {
  font-family: "Casanova Scotia", cursive;
}

#home p {
  font-size: 24px;
  color: #ff6f00;
}

/* About Section */
#about {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
}

#about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#about p {
  font-size: 18px;
}

/* Projects Section */
#projects {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

#projects h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#projects p {
  font-size: 18px;
}

/* Team Section */
#team {
  background-color: #f5f5f527;
  padding:  0;
  color: orange;
  text-align: center;
}

#team h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact-card {
  margin: 10px;
  text-align: center;
}

.contact-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.contact-card h3 {
  font-size: 24px;
  margin: 10px 0;
}

.contact-card p {
  font-size: 18px;
}

/* Gallery Section */
#gallery {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

#gallery h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#gallery p {
  font-size: 18px;
}

.gallery-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 10px;
}

.gallery-button:hover {
  background-color: #555;
}

.gallerypreview {
/* background-color: red; */
display: flex;
/* justify-content: space-around; */
gap: 20px;
}

.row {
display: flex;
/* justify-content: space-around; */
flex-direction: row;
gap: 20px;
}

.photo {
position: relative;
width: 30%;
}

.photo img{
width: 100%;
height: 100%;
border-radius: 10px;
object-fit: cover;
opacity: 1;
display: block;
transition: 0.5 ease;
backface-visibility: hidden;
}
.year {
transition: 0.5 ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.photo:hover img{
opacity: 0.5;
}

.photo:hover .year{
opacity: 1;
}

.text {
background-color: black;
color: orange;
font-size: 16px;
padding: 16px,32px;
}

/* Resources Section */
#resources {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
}

#resources h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.resource-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.resource-card {
  margin: 10px;
  text-align: center;
}

.resource-card h3 {
  font-size: 24px;
  margin: 10px 0;
}

.resource-card a {
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.resource-card a:hover {
  background-color: #555;
}

/* Contact Section */
#contact {
  /* background-color: #fff; */
  padding: 50px 0;
  text-align: center;
  background-size: 100%;

  /* Add shadow and animation */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

#contact h2 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  margin-bottom: 20px;
}

#contact p {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#ff6f00;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
  /* add animation here */
  animation: revealBlock 0s var(--t) forwards;
  /* Add shadow and animation */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
  background-image: url(./src/Screenshot\ 2023-07-03\ 181302.png);
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	/* set image as background */

	
}
.row
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 3%;
  margin-right: 3%;
}
.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#000000;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}
.skewed-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.skewed-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background-color: #f2f2f2; /* Set your desired background color */
  transform: skewX(-15deg); /* Adjust the skew angle as per your preference */
  transform-origin: top left;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#ff6f00;
  background-image: url(./src/Screenshot\ 2023-07-03\ 181302.png);
	transition:0.5s;
}
/* Footer */
footer {
  background-color: #ff797900;
  /* padding: 10px 20px; */
  text-align: right;
  height: 20px;
}

footer p {
  font-size: 16px;
  font-weight: 500;
  color: orange;
}

/* other */
.info {
  margin: 20px 0;
  text-align: center;
}

p {
  color: #2e2e2e;
  margin-bottom: 20px;
}

/* block-$ */
.block-effect {
  font-size: calc(8px + 6vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
  /* Add shadow and animation */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

/* animations */
@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section
{
  scroll-behavior: smooth;
  scrollbar-color: orange;
  scrollbar-width: thin;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
